<!-- <div class="container" id="spacing"> -->
<div class="media-body" id="spacing">

<div class="post-comments "><%= @comment.comment %></div>
<%= form_for :reply, url: post_comment_reply_index_path do |f| %>
<h4><%= f.text_field :content %></h4>
</div>
<%= f.submit %>

<% end %>
</div>
