<div class="aboutp" id="spacing">
	<h3 align="center">About Us</h3>
	<h4 id="aboutus">Our goal is to improve the college educational experience. Scolas eliminates cost of textbooks through our market place. Here for your various textbook needs. We also provide a network for students based on their current schedule. There chit chats and powwows can commence.</h4>

</div>
