<div class="aboutp" id="spacing" align="center"> <!-- for the body *** id="aboutus -->

<div><h3 align="center">About Us</h3></div>
<div class="panel panel-default col-lg-5" id="aboutus">
	
	<h4 class="panel-body" >Our goal is to improve the college educational experience. Scolas eliminates cost of textbooks through our market place. Here for your various textbook needs. We also provide a network for students based on their current schedule. There chit chats and powwows can commence.</h4>
</div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
