<div class="container" id="spacing">
<div>
	<h4>Scolas' goal is to improve the college educational experience. We aim to make ....</h4>
	<p>Find me in app/views/pages/about.html.erb</p>
</div>
</div>
