<div class="aboutp" id="spacing" align="center"> <!-- for the body *** id="aboutus -->

<div><h3 align="center">About Us</h3></div>
<div class="panel panel-default col-lg-6" id="aboutus">
	
	<h4 class="panel-body" >Scolas is a site created by the students for the students. Scolas was created at Iowa State University where we aim to improve the college educational experience by tackling the issues that plague us. We are a community center for people to engage and save.</h4>

	<div>
	<h4>Scolas eliminates cost of textbooks through our trading market place. Here for your various textbook needs. Scolas also provides a network for students to connect based on their current classes. With a growing community of students we will increase our inventory and</h4>
	</div>
	<br>
	<div><h4> We encourage people to contact us and share things regarding the site.</h4></div>

</div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>