<div class="container" id="spacing">
    <h1 align="center"><strong>FAQs</strong></h1>
    <br>
    <p><strong>How do the I get points?</strong></p>
    <p>The way to get points is to upload books and trade them. Each book is worth one point. So for every book you trade you can get a book you want. You also get a free point after sign up.</p>
    <br>

    <p><strong>How do I change my schedule?</strong></p>
    <p>You can change your schedule by going to edit your profile by clicking the change schedule button and then selecting your current classes.</p>
    <br>

    <p><strong>My class isn't on here?</strong></p>
    <p>If your class isn't on the list. Contact us on twitter @officialscolas. We will add your class to the site.</p>
    <br>

    <p><strong>I can't find the text books for my classes.</strong></p>
    <p>If you can't find your book on here it is porbably not a popular request. Contact us on twitter @officialscolas. If enough people in your class contact us we will get the book on the site.</p>
    <br>

    <div class="well" align="center"><!--gives grayish background to section -->
        <h6>More questions? Things you will like on site?</h6>
        <ul class="list-inline" align="center">
            <li><a href="https://twitter.com/officialscolas" aria-hidden="true"><i class="fa fa-twitter fa-2x"></i></a></li>
            <!-- <li><a href="officialscolas@gmail.com"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a></li>
        </ul> -->
    </div> 


<!-- <h6>At <a href="https://twitter.com/officialscolas">@officialscolas</a> or officialscolas.gmail.com</h6> -->
</div>
