<div class="jumbotron">    
	<div class="container center" id="slogan">
		<h1>Dare to Share</h1>
		<h3>Please provide feedback at twitter @officialscolas and officialscolas@gmail.com</h3>
		<!-- <h1>Dare to Share</h1>
		<p><em>The more we share the more we have</em></p> -->
	</div>
</div><!-- End jumbotron -->

<div class="container" id="weeze">
	<!-- By clicking the id that this section points to it brings you down to that section of the page pro: no loading time... kind of -->
	<section>
		<div class="page-header center" id="sign-up">
			<h1>Help<small></small></h1>
		</div>

		<div class="row">
			<div class="col-lg-14 center">
				<div class="panel panel-default">
					<div class="panel-body"><h3></h3></div>
					<div class="panel-body"><h3>By entering your schedule, you will be put into a group with other people taking your class. You can communicate with class on topics of your choice.</h3></div>
					<div class="panel-body"><h3></h3></div>
					<div class="panel-body"><h3></h3></div>
				</div>
			</div>

			<div class="col-lg-4 center">
				<div class="panel panel-default">
					<div class="panel-body"><h3></h3></div>
					<div class="panel-body"><h3>Search and find books using <%= link_to "TextShare", pages_textshare_path %></h3></div>
					<div class="panel-body"><h3></h3></div>
					<div class="panel-body"><h3></h3></div>
				</div>
			</div>

			<div class="col-lg-4 center">
				<div class="panel panel-default">
					<div class="panel-body"><h3><%= link_to "Sign Up", new_user_registration_path  %></h3></div>
					<div class="panel-body"><h3>Get your free point</h3></div>
					<div class="panel-body"><h3>Use points to buy books</h3></div>
				</div>
			</div>


			<div class="col-lg-4 center">
				<div class="panel panel-default">
					<div class="panel-body"><h3><%= link_to 'Upload books', new_listing_path %></h3></div>
					<div class="panel-body"><h3><%= link_to "Trade books", pages_textshare_path %></h3></div>
					<div class="panel-body"><h3>Earn points</h3></div>
				</div>
			</div>

		</div>
		<footer class="center"><i>Every book cost 1 point</i></footer>
	</section>
</div>



<section>
<!-- 	<div class="page-header center">
	</div> -->
<!-- 	<hr> -->
	<div class="well" align="center"><!--gives grayish background to section -->
		<h3>Feedback</h3>
		<ul class="list-inline" align="center">
			<li><a href="https://twitter.com/officialscolas" aria-hidden="true"><i class="fa fa-twitter fa-2x"></i></a></li>
			<!-- <li><a href="officialscolas@gmail.com"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a></li>
		</ul> -->
	</div>  <!--End well -->
</section>
