<div class="container center">
    <h1>TextShare</h1>

    <div class="row">
    <div class="col-lg-8">
    <%= form_tag search_listings_path, method: :get do %>
      <p>
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
        <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
      </p>
    <% end %>
    </div>
    </div>
</div>    