@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://weloveiconfonts.com/api/?family=entypo);

body {
	background-color: #F5F5F1;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
	background-color: #0277bd;
	opacity: 1;
	filter: alpha(opacity=50);
}

#modal {
	background-color: #f0f8ff; 
	opacity: 1;
	filter: alpha(opacity=50);
}

.navbar-default .navbar-brand {
	font-family: guardian-egypt, georgia, serif;
	font-size: 30px;
	font-weight: 400;
	color: #d5641c;
}

.navbar-default .navbar-nav > li > a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

.header{
	li.menu-list-item{
		padding-top: 15px;
		font-weight: bold;
		color: #0d3809;
	}
	li.menu-item2{
		padding-top: 7px;
	}
}

.center {
	text-align: center;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6{
	h3 {
		font-size: 45px;
	}
	h5 {
		font-size: 25px;
	}
	p {
		font-size: 18px;
	}
}

.caption {
	h3 {
		font-size: 17px;
		margin: 2px;
	}
	p {
		font-size: 15px;
		margin: 0px;
	}
}

.jumbotron {
	background-size: cover;
	background-image: url('https://dl.dropboxusercontent.com/s/ohrfp1xktmsakwx/books-1531633.jpg?dl=0');
	width: 100%;
	margin: 0px;
	background-position: center;
  	height: 650px;
  	h1 {
    color: #fff;
    text-shadow: 0px 2px 3px #555;
    margin-top: 190px;
    }
    h2 {
    color: #fff;
    text-shadow: 2px 2px 3px #101316;
    }
  	p {
  	vertical-align: bottom;
  	margin-top: 210px;
  	color: #fff;
    text-shadow: 2px 2px 4px #000000;
  	}
}

#two { 
  float:left; 
}

#spacing {
	padding-top: 65px;
}

#spacing2 {
	padding-top: 240px;
	padding-bottom: 170px;
}

#spacing-half {
	padding-bottom: 15px;
}

.product-list{
	.product-item{
		background-color: #f1f1f1;
		margin-bottom: 20px;
		padding: 10px 0 0 10px;
		img{
			float: left;
			margin-right: 10px;
			border: 5px solid #fff;
		}
		p{
			span{
				font-size: 20px;
			}
		}
		.serial{
			margin-top: 30px;
		}
		.approve-recived{
			text-align: center;
			padding-top: 10px;
			.recived{
				margin-top: 10px;
				width: 170px;
			}
		}
		.messages{
			text-align: center;
			margin: 20px 0;
		}
	}
}

.room{
	.room-info{
		background-color: #f1f1f1;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		p{
			margin: 10px;
			font-size: 15px;
			span{
				font-size: 20px;
			}
		}
	}
	.messages{
		margin: 20px 0;
		ul{
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
			float: left;
			li{
				width: 100%;
				float: left;
				margin: 0;
				padding: 10px 0;
			}
		}
		.message{
			.name{
				font-size: 12px;
				color: #337ab7;
			}
			.time{
			color: #bababa;
			}
			.content{
				color: #090000;
				font-size: 15px;
			}
		}
		.message:last-child{
			border-bottom: 0px;
		}
	}
	.send-message{
		.send{
			margin-top: 10px;
		}
	}
}

.product-details{
	.image{
		border: 5px solid #f1f1f1;
	}

	#dialog{
		padding-top: 5px;
		p{
		font-size: 1.3em;
		}
	}
	#flan{
		padding-bottom: 7px;
	}
}

.ui-widget-content {
    background: #f1f1f1;
    border: 1px solid #ccc;
}
.ui-dialog {
	z-index: 200;
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}
.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 10px 20px;
    margin: 0;
    p{
    	margin: 10px 0 20px 0;
    	font-size: 15px;
    	width: 100%;
    	text-align: center;
    }
    textarea{
    	height: 120px;
    }
    input[type= "submit"]{
    	margin-top: 20px;
    }
    button{
    	margin: 20px 20px 0 0;
    }

}
.ui-dialog .ui-widget-header {
	display: none;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1em;
}

.overlay {
    position:fixed;
    display:none; 
    z-index: 100;
    /* color with alpha channel */
    background-color: rgba(0, 0, 0, 0.9); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.aboutp {
	margin-left: 140px;
	margin-right: 140px;
}

#aboutus {
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
}








/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


body {
 	height:100%;
 	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
 	font-size: 1em;
 	font-weight: 300;
 	line-height: 1.5;
 	letter-spacing: 0.05em;	
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#avatar {
  border-radius: 100%;
  margin: 4rem auto 4rem 4em;
  width: 20rem;
  height: 20rem;
  box-shadow: 0 0 0 8px rgba(0,0,0,0.2);
  transition: all 0.5s ease-in-out;
}

#avatar:hover {
  box-shadow: 0 0 0 12px rgba(0,0,0,0.6);
}

.dashboard h1 {
  position: absolute;
  top: 300px;
  margin-right: auto;
  margin-left: 10rem;
  text-align:center;
  font-size:24px;
  font-weight:300;
  color:#000000;
  text-shadow: 1px 1px 2px #444444;
}

.dashboard h3 {
  text-align:center;
  font-size:16px;
  font-weight:300;
  color:#000000;
  text-shadow: 1px 1px 2px #444444;
  margin: 0.5em 0 1em 0;
}

#social {
	position: absolute;
	height: 3em;
	width: 13.5em;
	bottom: 270px;
	margin-left: auto;
	margin-right: auto;
}

#social li {
  border-radius:20px;
	display: block;
	height: 6em;
	line-height: 4em;
	margin: -2.2em;
	position: absolute;
	transition: all 0.5s ease-in-out;
	transform: rotate(45deg);
	text-align: center;
	width: 6em;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.4);
}

#social a {
	color: #000000;
	text-decoration:none;
	display: block;
	height: 4em;
	line-height: 4em;
	text-align: center;
	transform: rotate(-45deg);
	width: 4em;
}

@media only screen 
and (max-width : 320px) {

#social {
	position: absolute;
	height: 3em;
	width: 10em;
}

#social li {
	height: 3em;
	line-height: 3em;
	width: 3em;
}


}

.postbooks {
  background:rgba(255,255,255,0.1);
	left: 0;
	top: -115%;
}

.postbooks:hover{
  background:#155b9d;
  box-shadow: 0 0 0 2px #155b9d;
}

.textshare {
  background:rgba(255,255,255,0.1);
	bottom: 0;
	left: 35%;
}

.textshare:hover{
  background:#4099FF;
  box-shadow: 0 0 0 2px #4099FF;
}

.managebooks {
  background:rgba(255,255,255,0.1);
	left: 70%;
	top: -115%;
}

.managebooks:hover{
  background:#f34141;
  box-shadow: 0 0 0 2px #f34141;
}

.purhold {
  background:rgba(255,255,255,0.1);
	left: 105%;
	bottom: 0;
}

.purhold:hover{
  background:#333333;
  box-shadow: 0 0 0 2px #333333;
}

.archive {
  background:rgba(255,255,255,0.1);
  left: 140%;
	top: -115%;
}

.archive:hover{
  background:#1abc9c;
  box-shadow: 0 0 0 2px #1abc9c;
}

.salehold {
  background:rgba(255,255,255,0.1);
  left: 175%;
  bottom: 0;
}

.salehold:hover{
  background:#1abc9c;
  box-shadow: 0 0 0 2px #1abc9c;
}

.salesarchive {
  background:rgba(255,255,255,0.1);
  left: 210%;
	top: -115%;
}

.salearchive:hover{
  background:#1abc9c;
  box-shadow: 0 0 0 2px #1abc9c;
}

#copyright {
	position: ablsolute;
  display:block;
  bottom:0;
  right:0;
  width:100%;
  font-weight: bold;
}

#buyModal {
	background: white;

}

